@use "../tokens/t-typography" as *;
/* stylelint-disable */

@font-face {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("#{$font-url}family=Nunito+Sans&display=swap.woff2") format('woff2');
}

/* stylelint-enable */