// Typography
$font-family-base: var(--font-nunito);

$font-size-root: 62.5%;
$font-size-base: 1.8rem;

$font-size-xs: 1.4rem;
$font-size-sm: 1.6rem;
$font-size-lg: 2rem;
$font-size-xl: 2.2rem;

$h1-font-size: 6.4rem;
$h2-font-size: 4.8rem;
$h3-font-size: 3.2rem;
$h4-font-size: 2.4rem;
$h5-font-size: 2rem;
$h6-font-size: 1.8rem;

$headings-margin-bottom: .5em;
$headings-font-family: var(--font-roboto);
$headings-font-weight: 700;

$table-font-size: $font-size-sm;
