@use "../../_styles/foundation/variables" as *;
@use "../../_styles/theme/_theme-variables" as *;

/* General */
.header-wrapper {
  background-color: transparent;
}

.header {
  position: relative;
  min-height: 8rem;

  .header__col {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__icon {
    position: absolute;
    left: 3rem;

    img {
      height: 6rem;
    }
  }

  .header__nav-items {
    display: none;

    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
      display: flex;
    }
  }

  .header__nav-item {
    margin-bottom: 0;

    &:not(:last-of-type) {
      margin-right: $spacer-6;
    }

    &__link {
      font-size: $font-size-sm;
      color: $text-neutral-lowest;
      text-transform: uppercase;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: -5%;
        width: 110%;
        height: 3px;
        background-color: $bg-neutral-lowest;
        border-radius: $border-radius-xxs;
        opacity: 0;
        transition: all $animation-duration-1 $animation-easing-ease-in-out;
      }

      &:hover,
      &:focus {
        color: $text-neutral-lowest;
        text-decoration: none;

        &::before {
          opacity: .4;
        }
      }

      &.active {
        &::before,
        &:hover::before,
        &:focus::before {
          opacity: 1;
        }
      }
    }
  }

  .btn-hamburger {
    display: flex;
    position: absolute;
    right: 3rem;
    background-color: transparent;
    border: 1px solid $text-neutral-lowest;
    border-radius: $border-radius-xxs;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacer-1;

    svg {
      fill: $text-neutral-lowest;
      height: 2rem;
    }

    &:hover,
    &:focus {
      background-color: $text-neutral-lowest;
      color: $text-primary-xhigh;

      svg {
        fill: $text-primary-xhigh;
      }
    }

    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
      display: none;
    }
  }
}

/* Hamburger Menu */
.btn-hamburger {
  background-color: transparent;
  border: 1px solid $text-neutral-lowest;
  border-radius: $border-radius-xxs;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacer-1;
  cursor: pointer;

  svg {
    fill: $text-neutral-lowest;
    height: 2rem;
  }

  &:hover,
  &:focus {
    background-color: $text-neutral-lowest;
    color: $text-primary-xhigh;

    svg {
      fill: $text-primary-xhigh;
    }
  }

  &.open {
    background-color: $bg-neutral-lowest;
    color: $text-primary-xhigh;

    svg {
      fill: $text-primary-xhigh;
    }
  }
}

.hamburger-menu {
  height: 100vh;
  width: 20rem;
  background-color: $bg-primary-high;
  display: none;
  position: absolute;
  right: 0;

  a {
    color: $text-neutral-lowest;
  }

  &.open {
    display: flex;
  }

  .header__nav-item {
    display: block;

    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
      display: none;
    }
  }
}
