@use "../tokens/t-colors" as *;
@use "../tokens/t-borders" as *;
@use "../tokens/t-spacing" as *;
@use "../tokens/t-typography" as *;

.link-primary {
  font-weight: 600;
  color: $text-primary-xhigh;
  text-decoration: underline;
}

.link-white,
.link-white:hover {
  color: $text-neutral-lowest;
}

.link-light,
.link-light:hover {
  color: $text-priamry-low !important;
}

.link-no-underline {
  text-decoration: none;
}
