@use "../../../_styles/theme/_theme-variables" as *;

.btn-pill,
.btn-pill-light {
  display: inline-block;
  border-radius: $border-radius-xl;
  padding: $spacer-3 $spacer-7;
  font-size: $h6-font-size;
  font-weight: 700 !important;
  text-decoration: none !important;
  text-align: center;
  transition: $animation-duration-1 $animation-easing-ease-in-out;

  &:hover,
  &:focus {
    outline: auto;
    text-decoration: none;
  }
}

.btn-pill {
  background-color: $bg-primary-high !important;
  color: $text-neutral-lowest !important;

  &:hover,
  &:focus {
    background-color: $bg-primary-high !important;
    color: $text-neutral-lowest !important;
  }
}

.btn-pill-light {
  background-color: $gray-100 !important;
  color: $text-primary-xhigh !important;

  &:hover,
  &:focus {
    background-color: $gray-100 !important;
    color: $text-primary-xhigh !important;
  }
}

.btn-link {
  font-weight: 600;
  color: $text-primary-xhigh;
  text-decoration: underline;
}